
$primary-color: #b4d0e7; 
$secondary-color: #f0f4f8; 
$accent-color: #ffffff; 
$text-color: #4a4a4a; 

$font-family: 'Arial Black', sans-serif;

// Breakpoints
$small-screen: 480px;
$medium-screen: 768px;
$large-screen: 1024px;


//Fondos jamones
$bg-img: url('../IMG/rayos.jpg')